*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --cellHeight:0;
}
header {
  text-align: center;
}
header h1 {
  padding: 25px;
  box-shadow: 0px 1px 4px gray;
}
.gameStatus {
  padding: 10px;
  height: 100px;
  font-size: 2rem;
}
.boards {
  display: grid;
  padding: 10px;
  grid-template-columns: 1fr 100px 1fr;
  justify-items: center;
}
.boardLeft, .boardRight {
  display: grid;
  background: rgb(235, 235, 235);
  width: 400px;
  height: 400px;
  border: 1px solid black;
  text-align: center;
}
.boardLeft > div, .boardRight > div{
  display: grid;
  align-items: center;
}
.buttonContainer{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content:center;
  gap: 50px;
}

.buttonContainer button{
  padding: 10px;
  border-radius: 4px;
  font-size: 1rem;
}

